<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="form-group col-md-8 col-xs-12 mx-auto">
                <div class="input-group mb-3 padd">
                    <input type="text" appAutofocus class="form-control" placeholder="Search Eg: Bulbasaur" aria-label="Search"
                        minlength="3" (input)="getData($event)">
                    <button class="btn btn-outline-light" type="button" id="button-addon2"><span
                            class="input-group-append"><img src="https://image.flaticon.com/icons/svg/54/54481.svg"
                                width="18px"></span></button>

                </div>
                <div class="form-group search-bottom-line">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mx-auto text-center">
        <div *ngIf="displayData">
            <div class="card mx-auto" style="width: 18rem;">
                <img [src]="displayData.img" class="card-img-top" alt="pokemon img">
                <div class="card-body">
                    <h5 class="card-title">{{displayData.name}}</h5>
                    <p class="card-text">Avg Spawns: {{displayData.avg_spawns}}<br>Candy Count: {{displayData.candy_count}} <br>Height: {{displayData.height}} </p>
                </div>
            </div>
        </div>
    </div>
</div>